@import "tailwindcss";

:root {
  --white: #ffffff;
  --blue-300: #d0d6f9;
  --blue-900: #0b0d17;
}

@theme inline {
  --color-blue-300: var(--blue-300);
  --font-bellefair: var(--font-bellefair);
  --font-barlow-condensed: var(--font-barlow-condensed);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  /* font-family: "Bellefair", "Barlow Condensed", sans-serif; */
}
.bellefair {
  font-family: var(--font-bellefair);
}
.barlow-condensed {
  font-family: var(--font-barlow-condensed);
}

.home-bg {
  @apply bg-[url('/images/home/background-home-mobile.jpg')] 
    md:bg-[url('/images/home/background-home-tablet.jpg')] 
    lg:bg-[url('/images/home/background-home-desktop.jpg')] bg-cover;
}

.crew-bg {
  @apply bg-[url('/images/crew/background-crew-mobile.jpg')] 
    md:bg-[url('/images/crew/background-crew-tablet.jpg')] 
    lg:bg-[url('/images/crew/background-crew-desktop.jpg')] bg-cover;
}

.destination-bg {
  @apply bg-[url('/images/destination/background-destination-mobile.jpg')] 
    md:bg-[url('/images/destination/background-destination-tablet.jpg')] 
    lg:bg-[url('/images/destination/background-destination-desktop.jpg')] bg-cover;
}

.technology-bg {
  @apply bg-[url('/images/technology/background-technology-mobile.jpg')] 
    md:bg-[url('/images/technology/background-technology-tablet.jpg')] 
    lg:bg-[url('/images/technology/background-technology-desktop.jpg')] bg-cover;
}